<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="cordova-example">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

        <!-- CSS files -->
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/toolbar.css" />

        <title>Cordova Example</title>

        <!-- Angularjs, its modules and other third party libraries -->
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-route.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

        <!-- app.js must be loaded first as it instantiates the angular application and all other angular components depend on it -->
        <script src="js/app.js"></script>

        <!-- Angular controllers -->
        <script src="js/controllers/cameraController.js"></script>
        <script src="js/controllers/gpsController.js"></script>
        <script src="js/controllers/toolbarController.js"></script>
        <script src="js/controllers/contactsController.js"></script>
        <script src="js/controllers/filesController.js"></script>
        <script src="js/controllers/statusController.js"></script>

        <!-- Angular services -->
        <script src="js/services/cordovaService.js"></script>

        <!-- Angular directives -->
        <script src="js/directives/googleMap.js"></script>


        <script src="cordova.js"></script>
        <script src="js/index.js"></script>
    </head>
    <body class="flex-rows">
        <div ng-controller="ToolbarController" id="toolbar" class="flex-cols flex-justify">
            <div ng-repeat="button in buttons"
                 ng-click="open(button.id)"
                 class="toolbar-button flex-fill"
                 ng-class="{active: active === button.id}">
                {{button.title}}
            </div>
        </div>
        <div ng-view class="flex-fill flex-rows"></div>
    </body>
</html>
